<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Educo{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/style-responsive.css') }}" rel="stylesheet" type="text/css" media="screen" />
            <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" type="text/css" />
            <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
            <link rel="stylesheet" href="{{ asset('css/libs/animate.css') }}">


            <!-- bxSlider CSS file -->
            <link href="{{ asset('css/jquery.bxslider.css') }}" rel="stylesheet" />


            <!-- LayerSlider stylesheet -->
            <link rel="stylesheet" href="{{ asset('layerslider/css/layerslider.css') }}" type="text/css">
            <!-- External libraries: jQuery & GreenSock -->
            <script src="{{ asset('layerslider/js/jquery.js') }}" type="text/javascript"></script>
            <script src="{{ asset('layerslider/js/greensock.js') }}" type="text/javascript"></script>
            <!-- LayerSlider script files -->
            <script src="{{ asset('layerslider/js/layerslider.transitions.js') }}" type="text/javascript"></script>
            <script src="{{ asset('layerslider/js/layerslider.kreaturamedia.jquery.js') }}" type="text/javascript"></script>

            <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>


            <!-- bxSlider Javascript file -->
            <script src="{{ asset('js/jquery.bxslider.js') }}"></script>
            <script>
                $(document).ready(function(){
                    $('.bxslider').bxSlider({

                        pager: false,
                        controls: true,
                        auto: true


                    });
                });
            </script>



            <link rel="stylesheet" type="text/css" href="{{ asset('lightbox/jquery.fancybox.css') }}" media="screen" />
            <script src="{{ asset('lightbox/jquery.fancybox.js') }}"></script>
            <script type="text/javascript">
                $(document).ready(function() {

                    $('.fancybox').fancybox();

                });
            </script>


            <!-- GOTO TOP JQUERY -->
            <script type="text/javascript">
                $(function() {
                    $(window).scroll(function() {
                        if($(this).scrollTop() != 0) {
                            $('#gotop').fadeIn();
                        } else {
                            $('#gotop').fadeOut();
                        }
                    });

                    $('#gotop').click(function() {
                        $('body,html').animate({scrollTop:0},800);
                    });
                });
            </script>



            <!-- HEADER JQUERY -->
            <script type="text/javascript">
                $(function() {
                    $(window).scroll(function() {
                        if($(this).scrollTop() >= 200) {
                            $('.header').addClass("header_fix");
                        } else {
                            $('.header').removeClass("header_fix");
                        }
                    });
                });
            </script>


            <script type="text/javascript">

                if($(window).width() <= 900){
                    $(document).ready(function() {



                        $('.mobile .title').click(function() {

                            $(this).next("ul").slideToggle();
                            $(this).toggleClass("minus");

                        });



                    });

                }
            </script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <div class="header">
            <div class="container">

                <a href="#" class="logo"><img src="images/Logo.png" alt="" /></a>

                <div class="nav mobile">
                    <div class="title">Menu <span class="fa "></span></div>
                    <ul>
                        <li><a href="#faqs_part">Acceuil</a></li>
                        <li><a href="#testimonials_part">Nouveaute</a></li>
                        <li><a href="#contact_part">Contact</a></li>
                        <li><a href="#subscribe_part">Connexion</a></li>
                    </ul>
                </div>

            </div>
        </div>




        <div class="wrapper">
            <div class="slider_main">
                <div id="full-slider-wrapper">
                    <div id="layerslider" style="width:100%;height:473px;">


                        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
                            <img src="images/slider/slide-bg.jpg" class="ls-bg" alt="Slide background"/>


                            <div class="ls-l videopreview" style="top:87px;left:0px;white-space: nowrap;" data-ls="offsetxin:-200;durationin:2000;offsetxout:-200;">
                                <!-- <iframe src="http://player.vimeo.com/video/34134308?portrait=0&amp;color=ff9933&autoplay=1" width="443" height="290" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
                            </div>


                            <div class="ls-l" style="top:140px;left:638px;white-space: nowrap;" data-ls="offsetxin:0;delayin:1000;easingin:easeInOutQuart;scalexin:0.7;scaleyin:0.7;offsetxout:-800;durationout:1000;">
                                <h2 class="l1">Bienvenu</h2>
                            </div>

                            <div class="ls-l" style="top:200px;left:583px;white-space: nowrap;" data-ls="offsetxin:0;delayin:1000;easingin:easeInOutQuart;scalexin:0.7;scaleyin:0.7;offsetxout:-800;durationout:1000;">
                                <h2 class="l2">Platforme de validation (cour,test....)</h2>
                            </div>


                            <div class="ls-l" style="top:265px;left:810px;" data-ls="offsetxin:0;delayin:1000;easingin:easeInOutQuart;scalexin:0.7;scaleyin:0.7;offsetxout:-800;durationout:1000;">
                                <a href="#" class="button1">Start</a>
                            </div>


                        </div><!--FIRST SLIDE-->



                        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
                            <img src="images/slider/slide-bg.jpg" class="ls-bg" alt="Slide background"/>


                            <div class="ls-l videopreview" style="top:87px;left:0px;white-space: nowrap;" data-ls="offsetxin:-200;durationin:2000;offsetxout:-200;">
                                <!-- <iframe src="http://player.vimeo.com/video/34134308?portrait=0&amp;color=ff9933&autoplay=1" width="443" height="290" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->

                            </div>


                            <div class="ls-l" style="top:140px;left:638px;white-space: nowrap;" data-ls="offsetxin:0;delayin:1000;easingin:easeInOutQuart;scalexin:0.7;scaleyin:0.7;offsetxout:-800;durationout:1000;">
                                <h2 class="l1">Bienvenu</h2>
                            </div>

                            <div class="ls-l" style="top:200px;left:583px;white-space: nowrap;" data-ls="offsetxin:0;delayin:1000;easingin:easeInOutQuart;scalexin:0.7;scaleyin:0.7;offsetxout:-800;durationout:1000;">
                                <h2 class="l2">Platforme de validation (cour,test....)</h2>
                            </div>


                            <div class="ls-l" style="top:265px;left:810px;" data-ls="offsetxin:0;delayin:1000;easingin:easeInOutQuart;scalexin:0.7;scaleyin:0.7;offsetxout:-800;durationout:1000;">
                                <a href="#" class="button1">Start</a>
                            </div>


                        </div><!--FIRST SLIDE-->




                    </div>
                </div>
            </div>





            <div class="common_section" id="faqs_part">
                <div class="container">

                    <h2>Acceuil</h2>
                    <h4>Cette plateforme aidait les élèves à enrichir leur compétence </h4>


                    <div class="faqbox">
                        <div class="title">lire des livres?</div>
                        <p>
                            -repondre a question <br>
                            -comprendre
                        </p>
                    </div>


                    <div class="faqbox longer">
                        <div class="title">lire des journal?</div>
                        <p>
                            -repondre a question <br>
                            -comprendre
                        </p>
                    </div>




                </div>
            </div>




            <div class="common_section" id="testimonials_part">
                <div class="container">

                    <h2>Nouveauté</h2>
                    <h4 style="margin:0 0 40px 0;"></h4>


                    <br clear="all" />

                    <ul class="bxslider">

                        <li>
                            <div class="testimonial_box">
                                <div class="quote_button"><img src="images/icons/i7.png" alt="" /></div>
                                <div class="para">
                                    titre de livre:<br>
                                    description
                                </div>
                                <div class="clientinfo">
                                    <img src="images/clients/c1.png" alt="" />
                                    Nom de prof
                                </div>
                            </div>
                        </li>

                    </ul>


                </div>
            </div>






            <div class="common_section" id="contact_part">
                <div class="container">

                    <h2>Contact</h2>
                    <h4>Donnée des note ou remaque...</h4>


                    <br clear="all" />


                    <form method="post" class="hpform">
                        <input type="text" placeholder="nom, prenom" />
                        <input type="email" placeholder="Email" />
                        <textarea placeholder="Message"></textarea>
                        <input type="submit" value="Envoyer" />
                    </form>




                </div>
            </div>




            <div class="subscribe_section" id="subscribe_part">
                <div class="container">

                    <h2>connexion</h2>


                    <br clear="all" />


                    <form method="post" action="/acceuil">
                        <table>
                            <tr>
                                <td>
                                    <input type="email" placeholder="Enter  E-Mail" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                     <input type="password" name="password" placeholder="Password">
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="submit" value="connect" /></td>


                            </tr>
                        </table>
                    </form>




                </div>
            </div>




            <div class="common_section">
                <div class="container">


                    <a href="#" class="footer_logo"><img src="images/logo.png" alt="" /></a>

                    <div class="copyright">Copyright 2018 Projet Symfony - Nader .</div>

                </div>
            </div>


        </div><!--wrapper-->
        {% block javascripts %}
            <script>
                jQuery("#layerslider").layerSlider({
                    responsive: false,
                    responsiveUnder: 1100,
                    layersContainer: 1100,
                    skin: 'fullwidth',
                    hoverPrevNext: false,
                    skinsPath: 'layerslider/skins/'
                });


            </script>

            <script src="js/wow.js"></script>
            <script>
                wow = new WOW(
                    {
                        animateClass: 'animated',
                        offset:       100
                    }
                );
                wow.init();
                document.getElementById('moar').onclick = function() {
                    var section = document.createElement('section');
                    section.className = 'section--purple wow fadeInDown';
                    this.parentNode.insertBefore(section, this);
                };
            </script>

            <script type="text/javascript">
                $(function() {
                    $('a[href*=#]:not([href=#])').click(function() {
                        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                            var target = $(this.hash);
                            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                            if (target.length) {
                                $('html,body').animate({
                                    scrollTop: target.offset().top - 132
                                }, 2000);
                                return false;
                            }
                        }
                    });
                });
            </script>


            <script type="text/javascript">


                $(document).ready(function() {

                    if($(window).width() <= 1200){


                        $(function() {
                            $('a[href*=#]:not([href=#])').click(function() {
                                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                                    var target = $(this.hash);
                                    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                                    if (target.length) {
                                        $('html,body').animate({
                                            scrollTop: target.offset().top - 132
                                        }, 2000);
                                        return false;
                                    }
                                }
                            });
                        });



                    }

                });


            </script>
        {% endblock %}
    </body>
</html>
